.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% 0 0;
  font-size: 0.8rem;
}

.Dropdown-root { 
  width: 30%;  
}

.Dropdown-control {
  color: var(--accent-color);  
  background: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.Dropdown-option {
  text-transform: capitalize;
  color: var(--accent-color);  
  background: var(--primary-color);
}


.Dropdown-option:hover {
  background: var(--primary-color);
  color: var(--accent-color)
}

.Dropdown-option.is-selected {
  background: var(--primary-color);
  color: var(--accent-color); 
  font-weight: 700;
}

.clear-filter-btn {
  width: 30%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  text-align: left;
  background: transparent;    
  color: var(--accent-color);
  border: none;
  padding: 15px 10px;
  cursor: pointer;
}


@media (max-width: 640px) {
 .filter-container {
    margin-top: 15%;
  }
  .Dropdown-root { 
    width: 50%;  
}
  .clear-filter-btn {
    width: 50%;
  }
}
