:root {
  --primary-color: #4c4f6a;
  --primary-text-color: #fafafa;
  --accent-color: #cadefc;
}

body {
  max-width: 1400px;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: var(--primary-text-color);
  background: var(--primary-color);
}